{% extends "base.html" %}

{% block tittle %}

About

{% endblock tittle %}



{% block body %}

<main>
    <h1>Take a Look On Other Campuses</h1>
    <div class="pfs">
        <div class="left-pfs">
            Welcome to <span class="gray">Programmer Foundation School</span>
            <div>
                We have a Great Excellence in Schooling System
            </div>
             for Past 30 years in Our Area 
            <div>
                Sector 8 North Karachi
            </div>
            This School is Specially Design for A level
        </div>
        <div class="right-pfs">
            <img src="/static/pfs.jpg" alt="">
        </div>
    </div>
    <div class="pgs">
        <div class="left-pgs">
            <img src="/static/pgs.jpg" alt="">
        </div>
        <div class="right-pgs">
            Welcome to <span class="gray">Programmer Foundation School</span>
            <div>
                We have a Great Excellence in Schooling System
            </div>
             for Past 30 years in Our Area 
            <div>
                Gulshan e Iqbal Karachi
            </div>
            This School is Specially Design for O Level
        </div>
    </div>
</main>


{% endblock body %}