{% extends "base.html" %}

{% block tittle %}

Home

{% endblock tittle %}



{% block body %}

<main>
    <div class="section">
        <div class="left-sec">
            <img src="/static/u.p camp.JPG" alt="">
        </div>
        <div class="right-sec">
            Welcome to <span class="gray">Programmer Schoool</span>
            <div>
                We have a Great Excellence in Schooling System
            </div>
             for Past 30 years in Our Area 
            <div>
                Sector 11-B North Karachi
            </div>
            
        </div>
    </div>
</main>

{% endblock body %}